<fieldset>
   <div class="form-group col-md-6">
            {{ form_row(form.domicilio.pais, { 'attr': {'urlProvincia' : path('select_provincias') } }) }}
    </div>
   <div class="form-group col-md-6">
            {{ form_row(form.domicilio.provincia, { 'attr': {'urlLocalidad' : path('select_localidades') } }) }}
    </div>
</fieldset>    
<fieldset>
   <div class="form-group col-md-6">
            {{ form_row(form.domicilio.localidad, { 'attr': {'urlCpa' : path('get_codpostal') } }) }}
    </div>
   <div class="form-group col-md-3">
            {{ form_row(form.domicilio.codpostal, { 'attr': {'class' : 'cpa form-control' } }) }}
    </div>
</fieldset>    